body {
    width: 100vw;
    height: 100vh;
    background-color: #4158D0;
    background-image: linear-gradient(135deg, #4158D0 5%, #000 55%, #C850C0 120%);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: #fff;
    font-weight: 700;
    
}

