@import url(reset.css);
@import url(global.css);


.container {
    width: 95vw;
    min-width: 400px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 1.5rem;
    margin: 1rem;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header__img img {
    width: 8rem;
    border-radius: 50%;
    margin: 0.5rem;
}

.header__info {
    margin-right: 1rem;
    padding: 0.5rem;
}

.header__info h1 {
    color: whitesmoke;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.header__info p {
    color: gainsboro;
    font-size: 1rem;
    margin-bottom: 0.2rem;
}

.section__toggle {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin:1rem;
    padding: 0.5rem 1rem;
    border: 1px solid white;
    border-radius: 1rem;
}

.section__title {
    width: 100%;
    color: whitesmoke;
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.section__content {
    background-color: #55569E;
    border-radius: 1rem;
    padding: 0.2rem;
    margin: 0.2rem;
    display: none;
}


.section__content.open {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.skills__list {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-flow: row wrap;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;
}

.skills__item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.5rem;
}

.skills__item i {
    font-size: 2.5rem;
}

.skills__logo {
    height: 2.5rem;
}


.education__item {
    display: flex;
    flex-direction: column;
    align-items: left;
}
